.DGPAY{
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.272);
    z-index: 999;
}
.active-message{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pay-msg{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: darkorange;
    color:white;
}
.terminer,.fermer{
    display: none;
}
.mgs-pay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    display: block;
    z-index: 2000;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.761);
}
.bg-orange{
    background-color: darkorange;
    color: white !important;
    font-weight: bold;
}

